
yaptp.txt

trees.ps

treecompare2.o

treecompare2.c~

top_alltrees.txt

test.ph

t

supertree.ps

robinson-foulds.txt

prunedtrees.txt

prunedtree.ph

prunedtaxa.txt

phylip.o

pars.o

NJ-tree.ph

MRP.tree

Makefile

l2

l.1

l

histogram.txt

Heuristic_result.txt

examples/Clann_source_trees.ph

discrete.o

consensus.ph

config.status

config.log

config.h

coding.nex

clann

bootstrap.txt

average_consensus.nex

.deps/treecompare2.Po

.deps/phylip.Po

.deps/pars.Po

.deps/discrete.Po

index.html~
